body {
    font-family: 'Quicksand';
    background-image: url('assets/dpbg6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    margin: 0px;
    color: #fff;
    overflow: overlay;
}
p {
    font-size: large;
}
li {
    font-size: large;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.icon {
    width: 100px;
    height: 100px;
}
@media screen and (min-width:600px) {
    #header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
    }
    .icon {
        width: 25px;
        height: 25px;
    }
}
#top {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px 0px 10px;
}
.text-center {
    text-align: center;
}
.center {
    justify-self: center;
}
h1 {
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-size: xx-large;
}
hr {
    border: #fff6 double 1px;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: left;
    padding: 30px;
}
.spacer {
    width: 10px;
    height: 10px;
}
#container {
    max-width: 900px;
    width: 80vw;
}
#body {
    --opacity: 0.2;
    backdrop-filter: blur(15px);
    background: rgba(31, 41, 55, var(--opacity));
}
button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 48px;
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    transition: .1s all, .3s background, .5s filter;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    min-height: 2.5rem;
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem;
    font-size: .875rem;
    margin: 0px auto;
    background-color: rgb(59,130,246);
    border-color: rgb(37,99,235);
    color: #fff;
    border-width: 0;
    border-bottom-width: 4px;
    border-radius: 20px;
    font-family: 'Quicksand';

}
button:hover {
    background-color: rgb(37,99,235);
    border-color: rgb(29,78,216);
}
button:active {
    border-bottom: none;
    /* border-top: transparent 4px solid; */
    height: 44px;
    margin-top: 4px;
}
div.row {
    display: flex;
    flex-direction: column;
}
div.column {
    display: flex;
    flex-direction: column;
}
div.row-force {
    display: flex;
    flex-direction: row;
}
@media screen and (min-width: 820px) {
    div.row {
        display: flex;
        flex-direction: row;
    }
}
.list-head {
    padding-left: 20px;
}
.prompt {
    position: relative;
    bottom: -35%;
    transition: 1s all;
}
section.img-carousel {
    display: none;
}
section.img-grid {
    display: block;
}
@media screen and (min-width:1080px) {
    section.img-carousel {
        display: block;
    }
    section.img-grid {
        display: none;
    }
}
img.img-grid {
    width: 35vw;
    height: auto;
    margin: 10px;
    border: #fff6 solid 1px;
    border-radius: 10px;
}
#footer {
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 41, 55);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
a.social {
    text-decoration: none;
    color: #fff;
    transition: 0.3s all;
}
a.social:hover {
    color: #4285F4;
}
a.social:active {
    color: #2563eb;
}
#pre-download,
#post-download {
    transition: 0.5s all;
}